@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600,700);

@font-face {
    font-family: 'Verb Bold';
    src: url('type/VerbBold-webfont.eot');
    src: url('type/VerbBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/VerbBold-webfont.woff') format('woff'),
         url('type/VerbBold-webfont.ttf') format('truetype'),
         url('type/VerbBold-webfont.svg#verb_regularbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Verb Regular';
    src: url('type/VerbRegular-webfont.eot');
    src: url('type/VerbRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/VerbRegular-webfont.woff') format('woff'),
         url('type/VerbRegular-webfont.ttf') format('truetype'),
         url('type/VerbRegular-webfont.svg#verb_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0 auto;
	background: #f5f5f5 url('../images/bg-pattern.png') repeat left top;
	font: 400 1em/1.5em 'Open Sans', Helvetica, Verdana, Sans-serif;
}

img {
	max-width: 100%;
}

h1 {
	font: 400 1.5em 'Verb Bold', 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
	color: #ff9800;
	margin-bottom: 20px;
}

h2 {
	font: 400 1.3em 'Verb Bold', 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
	color: #ff9800;
	margin-bottom: 15px;
}

h3 {
	font: 400 1.15em 'Verb Bold', 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
	color: #ff9800;
	margin-bottom: 10px;
}

.menu-button {
	color: #fff;
	text-transform: uppercase;
	font-size: .8em;
	padding: 8px 1em;
	background: #ff9800;
	text-shadow: 0 1px 0 #000;
}

.menu-button .touch-button {
	width: 30px;
	height: 40px;
	right: 1%;
}

.menu-button .touch-button .navicon {
	position: relative;
	top: 10px;
	color: #fff;
	display: block;
	width: 30px;
	height: 22px;
	background: url('../images/menu-button.png');
}

.menu-button .touch-button .navicon:hover {
	background-position-y: -22px;
}

.menu-button .touch-button .navicon:active {
	background-position-y: -44px;
}

header {
	background: #3c5360 url('../images/bg-header-pattern.png') repeat top left;
	width: 100%;
	height: 72px;
}

#headerContainer {
	max-width: 980px;
	margin: 0 auto;
}

#logo {
	display: inline-block;
	float: left;
	padding: 1%;
	width: 40%;
}

nav {
	background: #ff9800;
	width: 100%;
	height: 40px;
	position: relative;
}

#navContainer {
	max-width: 960px;
	margin: 0 auto;	
}

.flexnav {
	margin: 0 auto;
	width: 100%;
	margin-top: -5px;
	display: inline-block;
	background: #ff9800;
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	text-shadow: 0 1px 0 #000;
	font-family: 'Verb Regular', 'Open Sans', Helvetica, Arial, sans-serif;
}

.flexnav li {
	background-color: #ff9800;
	width: auto;
}

.flexnav li a {
	color: #ffffff;
	text-decoration: none;
	border-left: none;
	border-bottom: none;
	padding: 8px 1em;
	background: #ff9800;
}

.flexnav li a:hover {
	background: #ffa300;
}

.flexnav li a:active {
	background: #f79300;
}

#contentContainer {
	max-width: 940px;
	margin: 0 auto;
	padding: 20px;
	background: #ffffff;
	border-left: 1px solid #bdd4de;
	border-right: 1px solid #bdd4de;
}

#callToActions {
	margin: 15px 0;
}

#furnitureBrands {
	margin: 0 auto;
}

#furnitureBrands img {
	margin-right: 25px;
}

#furnitureBrands img:first-child {
	margin-left: 14px;
}

#furnitureBrands img:last-child {
	margin-right: 0;
}

.homeCTA2 {
	margin: 0 25px;
}

#product {
	width: 49%;
	float: left;
	margin-right: 2%;
	display: inline-block;
}

#productRight {
	margin-right: 0;
	display: inline-block;
	width: 49%;
}

#productIMG {
	float: left;
	width: 48%;
	margin-right: 3%;
}

#productDescription {
	width: 42%;
	float: left;
}

#productDescription h2 {
	font-size: 1.1em;
	font-family: 'Verb Regular', 'Open Sans', Helvetica, Arial, Sans-serif;
}

.productText {
	font-size: .85em;
	line-height: 1.5em;
}

img.100 {
	width: 100%
}

.btn {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 10px;
	text-decoration: none;
}

.moreInfo {
	background: #ff9800;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	box-shadow: 0 1px 0 #000;
}

.moreInfo:hover {
	background: #ffb342;
}

.moreInfo:active {
	background: #ee8e00;
	text-shadow: none;
	box-shadow: 0 -1px 0 #000;
}

#sign-up-form input[type="text"],
#sign-up-form input[type="email"],
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}

#sign-up-form button[type="submit"],
#contact-form button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#991D57;
	background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}

::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}

footer {
	background: #bdd4de url('../images/bg-footer-pattern.png') repeat top left;
	width: 100%;
	border-top: 2px solid #fff;
	box-shadow: 0 -1px 0 #bdd4de;
}

#footerContainer {
	max-width: 980px;
	margin: 0 auto;
	color: #3f5765;
	padding: 20px 1%;
}

#bbbAccreditation {
	float: right;
}

#acceptedPaymentInfo {
	width: 35%;
	font-size: .9em;
	line-height: 1.23em;
	display: inline-block;
}

#acceptedPaymentIMGs {
	display: inline-block;
	width: 15%;
}

#acceptedPaymentIMGs img {
	padding: 3px;
}

#copyright {
	color: #777f84;
	font-size: .8em;
	margin-top: 10px;
}

#copyright a, #copyright a:active, #copyright a:visited {
	color: #fff;
	text-decoration: none;
}

#copyright a:hover {
	color: #bdd4de;
}

/****************************/
/* Nexus 7                  */
/****************************/

@media screen and (device-width: 600px) and (device-height: 905px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) {

}

/****************************/
/* iPhone 5                 */
/****************************/

@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){

}
/****************************/
/* Galaxy SII               */
/****************************/

@media screen and (device-width: 320px) and (device-height: 533px) and (-webkit-device-pixel-ratio: 1.5) {

}